@{
    ViewBag.Title = "Home Page";
}

<div>
    <a href="https://joerob-waws-tv.brazilsouth.tokenvault.azure-int.net/services/dropbox/tokens/d6f2046f-f23c-49ba-9a29-8e54b220a11f/login?PostLoginRedirectUrl=@Request.Url">Login</a>
    <div>@ViewBag.Secret</div>

    <div>@ViewBag.Principal</div>

    <div>@ViewBag.Error</div>

</div>